.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  backdrop-filter: none; /* default */
}

.footer-link:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 247, 255, 0.212);
}
.footer-link img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-link:hover img {
  transform: scale(1.1);
  opacity: 1;
}
.footer-link p {
  margin: 0;
  font-size: 0.85rem;
}
